:root {
  --background-color: #fff;
  --color: #222222;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Merriweather&display=swap');

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #0e1116;
    --color: #c9d1d9;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* banner displayed only for desktops */
  #banner {
    display: block;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', serif;
  font-weight: 600;
}

html,
body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Fira Code', monospace;
  font-size: 16px;
  font-weight: 300;

  display: flex;
  justify-content: center;
}

a {
  color: var(--color);
}

ul {
  list-style-type: circle;
}
